#custom-hover:hover {
  background-color: rgb(
    42,
    45,
    56
  ); /* Change the background color when hovered */
  color: #000; /* Change the text color when hovered */
}
#navbarScrollingDropdown {
  padding: 2px 2px 2px 2px;

  margin-left: 1px;
  margin-right: 1px;
  border: solid 2px rgb(169, 179, 169);
  text-align: center;
}
